.aboutUs-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: auto;
    width: 100%;
    background-color: white;
    .who-whe-are {
        position: relative;
        padding: 40px;
        padding-bottom: 40px;
        height: auto;
        width: 100%;
        background-color: white;
        h2 {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 20px;
           // background-color: rgb(85, 20, 216);
        }
        > div {
            position: relative;
            display: flex;
            justify-content: center;
            column-gap: 80px;
            >div {
                width: 30%;
                h3 {
                    font-size: 1.8rem;
                }
                p {
                    font-size: 0.9rem;
                    line-height: 30px;
                    color: rgb(78, 77, 77);
                    margin-top: 10px;
                }
                ul {
                    padding-left: 20px;
                    font-size: 0.9rem;
                    margin-top: 20px;
                }
            }
            img {
                height: 300px;
                width: 30%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .aboutUs-page {
        .who-whe-are {
            display: flex;
            flex-direction: column;
            > div {
                align-self: center;
                align-items: center;
                flex-direction: column;
                width: 80%;
                > div {
                    width: 100%;
                    margin-bottom: 30px;
                    h3 {
                        text-align: center;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .aboutUs-page {
        .who-whe-are {
            > div {
                width: 95%;
                > div {
                    h3 {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}