


.black-overlay-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    
    height: 100vh;
    width: 100%;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    background-color: rgba(0, 0, 0, 0.441);

    
    > div {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 40px;
        padding-top: 60px;
        height: 100%;
        width: 50%;

        transform: translateX(-1000px);
        transition: transform 0.3s ease;

        background-color: rgb(23, 22, 22);

        .mobile-nav {
            display: flex;
            flex-direction: column;
            height: 90%;
            width: 90%;
            > a {
                margin-bottom: 40px;
                font-size: 2rem;
                text-decoration: none;
                color: white;
            }

            a.mobile-drop {
                
                > svg {
                    margin-left: 15px;
                    font-size: 2rem;
                    transform: translate(-5px, 5px);
                    transition: all 0.2s ease;
                }
                //background-color: blue;


                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 0px;
                    visibility: hidden;

                    color: transparent;
                    //background-color: blue;
                    

                    transition: height 0.2s ease, visibility 0.2s ease, color 0.2s ease;
                    a {
                        display: flex;
                        align-items: center;
                        visibility: hidden;
                        padding-left: 15px;
                    }
                    &.active {
                        color: white;
                        height: 150px;
                        visibility: visible;
                        a { 
                            visibility: visible;
                            text-decoration: none;
                            color: white;
                            font-size: 1.2rem;
                            svg {
                                margin-right: 5px;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


    &.active {
        opacity: 1;
        visibility: visible;

        div {
            transform: translateX(0px);


        }
    }


}


@media only screen and (max-width: 550px) {

    .black-overlay-mobile {


        > div {
            width: 75%;

            .mobile-nav {
                justify-content: flex-start;
                height: 80%;
                //background-color: rebeccapurple;

                > a {
                    margin-bottom: 80px;
                    font-size: 1.7rem;
                }
            }

        }
    }
}

